<div>
    <style type="text/css">
        .cropArea {
            background: #E4E4E4;
            overflow: hidden;
            width:500px;
            height:350px;
        }
    </style>
    <div ng-class="{content_loading: loading}">
        <div ng-show="['create', 'edit'].indexOf(currentView) >= 0">
            <div class="box box-solid">
                <form ng-submit="saveOffer(offer);">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" ng-model="offer.title" required="" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" ng-model="offer.description" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" file-input="offer.imageUrl" ng-required="!offer.imageUrl" name="offer.imageUrl" />
                        </div>
                        <div class="form-group">
                            <label>Required Mx</label>
                            <input type="text" class="form-control" ng-model="offer.requiredMx" />
                        </div>
                        <div class="form-group">
                            <label>Required Points</label>
                            <input type="text" class="form-control" ng-model="offer.requiredPoints" />
                        </div>
                    </div>
                    <div class="box-footer text-right">                        
                        <button type="button" class="btn btn-default" ng-click="setView('list')">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>                
            </div>

            <div>
                <div class="cropArea">
                    <ui-cropper image="myImage" 
                                area-type="rectangle"
                                aspect-ratio="2"
                                init-max-area="true"
                                result-image-size="{w:600,h:300}"
                                result-image="myCroppedImage">
                    </ui-cropper>
                </div>
            </div>            
        </div>

        <div ng-show="['list'].indexOf(currentView) >= 0">
            <div class="box box-solid">            
                <div class="box-header with-border form-inline">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="box-title">{{listTitle}} <span>({{pagination.total}})</span></h3>
                        </div>                                    
                        <div class="col-md-8">                        
                            <button class="btn btn-flat btn-default pull-right" ng-click="setView('create')"><i class="fa fa-plus"></i> Add Offer</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div ng-if="!list.length">
                        <h3 class="text-center">No Offers to be shown</h3>
                    </div>
                    <table ng-if="list.length" class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Offer Id</th>
                                <th>Title</th>
                                <th class="hide">Promo Code</th>
                                <th class="hide">Title</th>
                                <th>Created on</th>
                                <th>Image</th>                            
                                <th>Status</th>
                                <th>Views</th>
                                <th>Requests</th>
                                <th>Redemptions</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="offer in filterList()">
                                <td>{{offer.objectId}}</td>
                                <td>{{offer.title}}</td>
                                <td  class="hide">{{offer.promoCode}}</td>
                                <td  class="hide">{{offer.title}}</td>
                                <td>{{offer.createdAt| date}}</td>
                                <td><a href="{{offer.imageUrl}}" target="_new"><img src="{{offer.imageUrl}}" class="image image-sm" /></a></td>
                                <td>{{offer.status}}</td>                            
                                <td>{{offer.views}}</td>                            
                                <td>{{(offer.statusCounts.redeemed + offer.statusCounts.inProcess) || 0}}</td>
                                <td>{{offer.statusCounts.fullFilled|| 0}}</td>                            
                                <td>
                                    <button type="button" class="btn btn-flat btn-sm btn-default" ng-click="edit(offer)">Edit</button>
                                    <button type="button" class="btn btn-flat btn-sm btn-success" ng-show="offer.status === 'INACTIVE'" ng-click="changeStatus(offer, 'ACTIVE')">Activate</button>
                                    <button type="button" class="btn btn-flat btn-sm btn-danger" ng-show="offer.status === 'ACTIVE'" ng-click="changeStatus(offer, 'INACTIVE')">Deactivate</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>                
                </div>
                <div class="box-footer text-center">
                    <cnv-pagination page="pagination.page" pages="pagination.pages" onchange="pagination.change()"></cnv-pagination>
                </div>
            </div>            
        </div>
    </div>    
</div>