<div>    
    <style type="text/css">
        .tab-pane{
            max-height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>
    <div ng-show="currentView === 'edit'">
        <form ng-submit="updateUser(editableUser)">
            <div class="box box-primary">
                <div class="box-body">
                    <div class='row'>
                        <div class='col-md-6'>
                            <h4>Basic Details</h4>
                            <div class='form-group'>
                                <label>First Name</label>
                                <input type='text' required="" class='form-control' ng-model="editableUser.firstName" />
                            </div>
                            <div class='form-group'>
                                <label>Last Name</label>
                                <input type='text' required="" class='form-control' ng-model="editableUser.lastName" />
                            </div>
                            <div class='form-group'>
                                <label>Email</label>
                                <input type='text' required="" class='form-control' ng-model="editableUser.email" />
                            </div>
                            <div class='form-group'>
                                <label>About Me</label>
                                <textarea required="" class='form-control' ng-model="editableUser.aboutMe"></textarea>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <h4>Social Details</h4>
                            <div class='form-group'>
                                <label>Behance</label>
                                <input type='text' class='form-control' ng-model="editableUser.socialLinks.behance" />
                            </div>
                            <div class='form-group'>
                                <label>Dribbble</label>
                                <input type='text' class='form-control' ng-model="editableUser.socialLinks.dribbble" />
                            </div>
                            <div class='form-group'>
                                <label>LinkedIn</label>
                                <input type='text' class='form-control' ng-model="editableUser.socialLinks.linkedin" />
                            </div>
                            <div class='form-group'>
                                <label>Stackoverflow</label>
                                <input type='text' class='form-control' ng-model="editableUser.socialLinks.stackOverflow" />
                            </div>
                            <div class='form-group'>
                                <label>Website</label>
                                <input type='text' class='form-control' ng-model="editableUser.socialLinks.website" />
                            </div>
                        </div>

                    </div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <h4>Professional Details</h4>
                            <div class='form-group'>
                                <label>Industry</label>
                                <mp-industries-filter model="editableUser._industry"></mp-industries-filter>
                            </div>
                            <div class='form-group'>
                                <label>Current Job Title</label>
                                <input required="" type='text' class='form-control' ng-model="editableUser.jobTitle" />
                            </div>
                            <div class='form-group'>
                                <label>Current Company</label>
                                <input required="" type='text' class='form-control' ng-model="editableUser.company" />
                            </div>
                            <div class='form-group'>
                                <label>Experience</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input required="" type='number' class='form-control' ng-model="editableUser.yearExperience" min="0" />
                                    </div>
                                    <div class="col-md-6">
                                        <input required="" type='number' class='form-control' ng-model="editableUser.monthExperience" min="0" max=12" />
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <label>Education</label>
                                <mp-educations-filter model='editableUser._education'></mp-educations-filter>
                            </div>
                            <div class='form-group'>
                                <label>Skills</label>
                                <mp-skills-filter model='editableUser._skills' multiple="true"></mp-skills-filter>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <h4>Other Details</h4>
                            <div class='form-group'>
                                <label>City</label>
                                <mp-cities-filter model='editableUser._city'></mp-cities-filter>
                            </div>
                            <div class='form-group'>
                                <label>State</label>
                                <mp-states-filter model='editableUser._state'></mp-states-filter>
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="roleType" ng-value="'companyHiringManager'" ng-model='editableUser._roleType' />
                                        Company Hiring Manager
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="roleType" ng-value="'companyRecruiter'" ng-model='editableUser._roleType' />
                                        Company Recruiter
                                    </label>
                                </div>
                                <p>-- Or --</p>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="roleType" ng-value="'externalRecruiter'" ng-model='editableUser._roleType' />
                                        External Recruiter
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer text-right">
                    <button type="button" class="btn btn-flat btn-default" ng-click="setView('view')">Cancel</button>
                    <button type="submit" class="btn btn-flat btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-show="currentView === 'view'">
        <div class="col-md-4">
            <!-- Profile Image -->
            <div class="box box-primary" ng-controller="user.profileController">
                <div class="box-body box-profile">                    
                    <div class="row">
                        <div class=" col-md-6">
                            <span class="badge bg-aqua">Profile: {{user.managerInfo.profileProgress}}%</span>
                            <span class="btn btn-xs btn-success" ng-click="setView('edit')"><i class="fa fa-pencil"></i></span>
                        </div>
                        <div class=" col-md-6 text-right" ng-if="user.userCandidate">
                            <a href="#/candidates/{{user.objectId}}">Check Candidate Profile</a>
                        </div>
                    </div>
                    <img class="profile-user-img img-responsive img-circle" src="{{user.imageThumbUrl|| user.imageUrl}}" alt="User profile picture">
                    <h3 class="profile-username text-center">{{user.fullName}}</h3>

                    <p class="text-muted text-center"><i class="fa fa-phone"></i> {{user.phone}}</p>
                    <p class="text-muted text-center"><i class="fa fa-envelope"></i> {{user.email}}</p>
                    <p class="text-muted text-center">{{user.jobTitle}} at {{user.company}}</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Referral Code</b> <a class="pull-right">{{user.referralCode}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Experience</b> <a class="pull-right">{{user.yearExperience}} Years</a>
                        </li>
                        <li class="list-group-item">
                            <b>Industry</b> <a class="pull-right">{{user.industry.name}}</a>
                        </li>                        
                    </ul>

                    <strong><i class="fa fa-book margin-r-5"></i> Role</strong>
                    <p class="text-muted">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a>Company Hiring Manager<span class="pull-right">
                                    <i class='fa' ng-class='{"fa-check":user.managerInfo.roleType.companyHiringManager}'></i>
                                </span></a></li>
                        <li><a>Company Recruiter<span class="pull-right">
                                    <i class='fa' ng-class='{"fa-check":user.managerInfo.roleType.companyRecruiter}'></i>
                                </span>
                            </a>
                        </li>
                        <li><a>External Recruiter<span class="pull-right">
                                    <i class='fa' ng-class='{"fa-check":user.managerInfo.roleType.externalRecruiter}'></i>
                                </span></a></li>
                    </ul>
                    </p>
                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
                    <p class="text-muted">
                        {{user.education && user.education.name}}
                    </p>
                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                    <p class="text-muted">
                        {{user.city.name}}, {{user.city.state.name}}, {{user.city.country.name}}
                    </p>
                    <hr>

                    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                    <p>
                        <span class="label label-success" ng-repeat="skill in user.skills">{{skill.name}}</span>
                    </p>
                    <hr>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> About Me</strong>
                    <p>{{user.aboutMe}}</p>
                    <hr>

                    <strong><i class="fa fa-link margin-r-5"></i> Social Links</strong>
                    <p>
                        <a href="{{user.socialLinks.behance}}" target="blank">
                            <span class="badge" ng-class="{
                                    'bg-green':user.socialLinks.behance}">
                                <i class="fa fa-behance"></i>
                            </span>
                        </a>
                        <a href="{{user.socialLinks.dribbble}}" target="blank">
                            <span class="badge" ng-class="{
                                    'bg-green':user.socialLinks.dribbble}"><i class="fa fa-dribbble"></i></span>
                        </a>
                        <a href="{{user.socialLinks.linkedin}}" target="blank">
                            <span class="badge" ng-class="{
                                    'bg-green':user.socialLinks.linkedin}"><i class="fa fa-linkedin"></i></span>
                        </a>
                        <a href="{{user.socialLinks.stackOverflow}}" target="blank">
                            <span class="badge" ng-class="{
                                    'bg-green':user.socialLinks.stackOverflow}"><i class="fa fa-stack-overflow"></i></span>
                        </a>
                        <a href="{{user.socialLinks.website}}" target="blank">
                            <span class="badge" ng-class="{
                                    'bg-green':user.socialLinks.website}"><i class="fa fa-globe"></i></span>
                        </a>
                    </p>
                </div>
                <!-- /.box-body -->
            </div>            
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-8">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" id="profileTabs">
                    <li class="active"><a href="#outgoing" data-toggle="tab" aria-expanded="false">Outgoing</a></li>
                    <li class=""><a href="#incoming" data-toggle="tab" aria-expanded="false">Incoming</a></li>                    
                    <li class=""><a href="#purchases" data-toggle="tab" aria-expanded="false">Purchases</a></li>                    
                    <li class=""><a href="#credits" data-toggle="tab" aria-expanded="false">Credits</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="outgoing">
                        <cnv-load-more onloadmore="loadMoreOutgoing()">
                            <mp-job ng-repeat="job in outgoing" job="job"></mp-job>
                        </cnv-load-more>
                    </div>
                    <div class="tab-pane" id="incoming">
                        <cnv-load-more onloadmore="loadMoreIncoming()">
                            <mp-job ng-repeat="job in incoming" job="job.jobRequest"></mp-job>
                        </cnv-load-more>
                    </div>                    
                    <div class="tab-pane" id="purchases">
                        <cnv-load-more onloadmore="loadMorePurchases()">
                            <mp-product-purchase ng-repeat="purchase in purchases" info="purchase"></mp-product-purchase>
                        </cnv-load-more>
                    </div>
                    <div class="tab-pane" id="credits">
                        <form ng-submit="addCredits()">
                            <div class='form-group'>
                                <label>Available Credits</label>
                                <input type='text' class='form-control' value="{{creditsInfo.availableJobPosts}}" disabled="" />
                            </div>
                            <div class='form-group'>
                                <label>Used Credits</label>
                                <input type='text' class='form-control' value='{{creditsInfo.usedJobPosts}}' disabled=""/>
                            </div>
                            <div class="input-group">                                
                                <input type='number' class='form-control' ng-model='creditsInfo.newJobCredits' />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-flat">Add Credits</button>
                                </span>
                            </div>                            
                        </form>                        
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>    
    <script type="text/javascript">
        $('#profileTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        });
    </script>
</div>
