<div>
    <style type="text/css">
        .image.image-sm{
            max-width: 40px;
            max-height: 40px;
        }
    </style>
    <div ng-class="{content_loading: loading}">
        <div ng-show="['list'].indexOf(currentView) >= 0">
            <div class="row">                
                <div class="form-group col-md-4">
                    <label>Search</label>
                    <input type="search" 
                           placeholder="Search..."
                           class="form-control" 
                           ng-model="filters.keyword" 
                           ng-model-options="{debounce: 250}" />
                </div>
                <div class="form-group col-md-4">
                    <label>Company</label>
                    <mp-company-filter model="filters.company">
                    </mp-company-filter>                            
                </div>
            </div>

            <div class="box box-solid">            
                <div class="box-header with-border">
                    <div>
                        <h3 class="box-title">{{listTitle}} <span ng-show="pagination.total > 1">({{pagination.total}})</span></h3>
                    </div>                        
                </div>
                <div class="box-body">
                    <div ng-if="!list.length">
                        <h3 class="text-center">No Candidates to be shown</h3>
                    </div>
                    <table ng-if="list.length" class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Signup Date</th>
                                <th>Job Title</th>
                                <th>Company</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="candidate in filterList()">
                                <td><mp-user info="candidate" ng-click="changeView('candidates/' + candidate.objectId)"></mp_user></td>
                            <td>{{candidate.phone}}</td>
                            <td>{{candidate.email? candidate.email: ''}}</td>
                            <td>{{candidate.createdAt| date}}</td>
                            <td>{{candidate.jobTitle? candidate.jobTitle : ''}}</td>
                            <td>{{candidate.company}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-flat btn-default" ng-click="changeView('candidates/' + candidate.objectId)">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" 
                                        title="Remove all contacts"
                                        class="btn btn-sm btn-flat btn-warning" 
                                        ng-click="removeAllUserContacts(candidate)">
                                    <i class="fa fa-eraser"></i>
                                </button>
                                <button type="button" 
                                        title="Mark user as removed"
                                        class="btn btn-sm btn-flat btn-danger" ng-click="removeUser(candidate)">
                                    <i class="fa fa-trash"></i>
                                </button>                                
                            </td>
                            </tr>
                            </tbody>
                    </table>
                </div>
                <div class="box-footer text-center">
                    <cnv-pagination page="pagination.page" pages="pagination.pages" onchange="pagination.change()"></cnv-pagination>
                </div>
            </div>            
        </div>
    </div>    
</div>