<div>
    <div ng-class="{content_loading: loading}">
        <div ng-show="['list'].indexOf(currentView) >= 0">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="form-group pull-right">
                        <input date-range-picker 
                               options="{locale: {format: 'D-MMM-YYYY'}}"
                               readonly="true"
                               class="form-control date-picker" 
                               type="text" 
                               ng-model="filters.date" />
                    </div>
                </div>
            </div>
            <div class="row">                    
                <div class="form-group col-md-3">
                    <label>Posted Type</label>
                    <mp-job-type-filter model='filters.postType'>                        
                    </mp-job-type-filter>
                </div>
                <div class="form-group col-md-3">
                    <label>Job</label>
                    <mp-jobs-filter model='filters.jobId' type='filters.postType'>                        
                    </mp-jobs-filter>
                </div>
                <div class="form-group col-md-3">
                    <label>Posted By</label>
                    <mp-user-filter model='filters.postedBy'>
                    </mp-user-filter>
                </div>
                <div class="form-group col-md-3">
                    <label>Referred By</label>
                    <mp-user-filter model='filters.referredBy'>
                    </mp-user-filter>
                </div>
                <div class="form-group col-md-3">
                    <label>Company</label>
                    <mp-company-filter model="filters.company">
                    </mp-company-filter>
                </div>
            </div>
            <div class="box box-solid">            
                <div class="box-header with-border form-inline">
                    <div>
                        <h3 class="box-title">{{listTitle}} <span>({{pagination.total}})</span></h3>
                    </div>
                </div>
                <div class="box-body">
                    <div ng-if="!list.length">
                        <h3 class="text-center">No Candidates to be shown</h3>
                    </div>
                    <table ng-if="list.length" class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Posted By</th>
                                <th>Referred by</th>
                                <th>Referred to</th>
                                <th>Referred on</th>
                                <th>Posted as</th>
                                <th>Paid Referral</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="referral in filterList()">
                                <td>{{referral.job.jobTitle}}</td>
                                <td>
                        <mp-user info="referral.postedBy"></mp-user>
                        </td>
                        <td>{{referral.referredBy.fullName}}</td>
                        <td>{{referral.referredTo.fullName}}</td>
                        <td>{{referral.referredOn| date}}</td>
                        <td>{{referral.postType}}</td>
                        <td>{{referral.paidReferral}}</td>                                
                        <td>{{referral.status}}</td>
                        </tr>
                        </tbody>
                    </table>                
                </div>
                <div class="box-footer text-center">
                    <cnv-pagination page="pagination.page" pages="pagination.pages" onchange="pagination.change()"></cnv-pagination>                    
                </div>
            </div>            
        </div>
    </div>    
</div>